<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}<i>PhD Candidate</i> Statistics, Colorado State University{{end}}
      {{ with .Site.Params.description }} {{.}} {{ else }}<i>Statistical Consultant</i> <a href="https://www.lemmaanalytics.com">Lemma Analytics</a>{{end}}
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}post/about/">About</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}post/research/">Research</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
        <ul class="sidebar-nav">
          <li><a href="{{ .Site.BaseURL }}post/teaching/">Teaching</a> </li>
          {{ range .Site.Menus.main -}}
            <li><a href="{{.URL}}"> {{ .Name }} </a></li>
          {{- end }}
          <ul class="sidebar-nav">
            <li><a href="https://www.lemmaanalytics.com">Statistical Consulting</a> </li>
            {{ range .Site.Menus.main -}}
              <li><a href="{{.URL}}"> {{ .Name }} </a></li>
            {{- end }}
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}pdf/Gray_Stanton_Resume.pdf">Résumé</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
        <ul class="sidebar-nav">
          <li><a href="{{ .Site.BaseURL }}pdf/Gray_Stanton_CV.pdf">CV</a> </li>
          {{ range .Site.Menus.main -}}
            <li><a href="{{.URL}}"> {{ .Name }} </a></li>
          {{- end }}
      </ul>

      <ul class="sidebar-nav">
        <li><a href="https://linkedin.com">LinkedIn</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ "2023"}}. All rights reserved. {{end}}</p>
  </div>
</aside>
