<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <p class="lead">
      {{ with .Site.Params.description }} {{.}} {{ else }}<i>Senior Business Analyst</i> The Hartman Group{{end}}
      </p>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}post/about/">About</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}post/research/">Research</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}pdf/resume.pdf">Résumé</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
      <ul class="sidebar-nav">
        <li><a href="https://twitter.com/stantography">@stantography</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</aside>
